include ../layouts/mixins.pug

footer.footer.grid-x.grid-margin-x
    a(href='#').footer__logo
        img(src='../img/logo.svg')
    .footer__content.grid-x.grid-margin-x.align-spaced.small-11
        .small-4.cell.footer__col
            +footer__link('about')
            +footer__link('realisations')
            +footer__link('conception')
            +footer__link('services')
        .small-4.cell.footer__col
            +footer__link('client area')
            +footer__link('news')
            +footer__link('contact')
        .small-4.cell.footer__col
            .footer__contacts
                p Route de la Goille 1
                p 1073 Savigny
                a(href='mailto:info@dimensions-paysage.ch') info@dimensions-paysage.ch
                a(href='tel:+410217811293') +41 (0)21 781 12 93
            .social
                a(href='#').social__icon
                    svg(
                        width="40px"
                        height="40px"
                        viewBox="0 0 40 40"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M26,16.1838209 C25.5590773,16.3846154 25.0843458,16.5204045 24.5863708,16.5810762 C25.0949111,16.2690502 25.4851206,15.7742867 25.6689558,15.1849043 C25.1928156,15.4738173 24.6666667,15.6840014 24.1045959,15.7966775 C23.6566297,15.3062477 23.0163761,15 22.3078007,15 C20.9491108,15 19.846804,16.130372 19.846804,17.524377 C19.846804,17.7222824 19.8679345,17.9144095 19.9101955,18.0993138 C17.8640606,17.9938606 16.050361,16.989888 14.8353583,15.4608162 C14.6233492,15.8349585 14.5022011,16.2690502 14.5022011,16.7313109 C14.5022011,17.6067172 14.9367846,18.3795594 15.5974643,18.8324305 C15.1945765,18.8201517 14.8142279,18.7053088 14.481775,18.5175153 L14.481775,18.5485735 C14.481775,19.7721199 15.3305159,20.7927049 16.4574749,21.0238353 C16.2511005,21.0830625 16.0334566,21.1126761 15.8087691,21.1126761 C15.6502905,21.1126761 15.4953337,21.0975081 15.3453073,21.0678945 C15.6587427,22.0704225 16.5673534,22.8006501 17.6450079,22.8201517 C16.8026061,23.4976526 15.7404473,23.9014085 14.5874274,23.9014085 C14.3888008,23.9014085 14.1922874,23.8898519 14,23.8667389 C15.0896285,24.5817985 16.3842226,25 17.7739039,25 C22.3028702,25 24.7786582,21.1538462 24.7786582,17.8176237 C24.7786582,17.7078368 24.7765452,17.5980498 24.7723191,17.4904298 C25.2533897,17.1343445 25.6710689,16.6901408 26,16.1838209")
                a(href='#').social__icon
                    svg(
                        width="40px"
                        height="40px"
                        viewBox="0 0 40 40"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M26.2389937,19.1836184 L26.2389937,17.4194419 L24.9811321,17.4194419 L24.9811321,19.1836184 L23.1698113,19.1836184 L23.1698113,20.4437444 L24.9811321,20.4437444 L24.9811321,22.2583258 L26.2389937,22.2583258 L26.2389937,20.4437444 L28,20.4437444 L28,19.1836184 L26.2389937,19.1836184 L26.2389937,19.1836184 Z M17.081761,19.0828083 L17.081761,21.0990099 C17.081761,21.0990099 19.0341635,21.0963888 19.8291321,21.0963888 C19.3986415,22.4034419 18.7292579,23.1152115 17.081761,23.1152115 C15.4144906,23.1152115 14.1132075,21.7611809 14.1132075,20.0909091 C14.1132075,18.4206373 15.4144906,17.0666067 17.081761,17.0666067 C17.9632704,17.0666067 18.5325786,17.3770009 19.0547925,17.8096274 C19.472805,17.3908623 19.4378868,17.3311827 20.5013836,16.3250477 C19.5985912,15.5018326 18.3986918,15 17.081761,15 C14.2751698,15 12,17.2792655 12,20.0909091 C12,22.9025023 14.2751698,25.1818182 17.081761,25.1818182 C21.2768302,25.1818182 22.3021887,21.5224122 21.9622642,19.0828083 L17.081761,19.0828083 L17.081761,19.0828083 Z")
                a(href='#').social__icon
                    svg(
                        width="40px"
                        height="40px"
                        viewBox="0 0 40 40"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink")
                        path(d="M20.0000139,13 C21.9010859,13 22.1394666,13.0080581 22.886091,13.0421244 C23.6311594,13.0761073 24.1400144,13.1944502 24.585266,13.3675048 C25.0455779,13.5463668 25.435951,13.7857201 25.8251294,14.1748706 C26.2142799,14.564049 26.4536332,14.9544221 26.632523,15.414734 C26.8055498,15.8599856 26.9238927,16.3688406 26.9578756,17.113909 C26.9919419,17.8605334 27,18.0989141 27,20.0000139 C27,21.9010859 26.9919419,22.1394666 26.9578756,22.886091 C26.9238927,23.6311594 26.8055498,24.1400144 26.632523,24.585266 C26.4536332,25.0455779 26.2142799,25.435951 25.8251294,25.8251294 C25.435951,26.2142799 25.0455779,26.4536332 24.585266,26.632523 C24.1400144,26.8055498 23.6311594,26.9238927 22.886091,26.9578756 C22.1394666,26.9919419 21.9010859,27 20.0000139,27 C18.0989141,27 17.8605334,26.9919419 17.113909,26.9578756 C16.3688406,26.9238927 15.8599856,26.8055498 15.414734,26.632523 C14.9544221,26.4536332 14.564049,26.2142799 14.1748706,25.8251294 C13.7857201,25.435951 13.5463668,25.0455779 13.3675048,24.585266 C13.1944502,24.1400144 13.0761073,23.6311594 13.0421244,22.886091 C13.0080581,22.1394666 13,21.9010859 13,20.0000139 C13,18.0989141 13.0080581,17.8605334 13.0421244,17.113909 C13.0761073,16.3688406 13.1944502,15.8599856 13.3675048,15.414734 C13.5463668,14.9544221 13.7857201,14.564049 14.1748706,14.1748706 C14.564049,13.7857201 14.9544221,13.5463668 15.414734,13.3675048 C15.8599856,13.1944502 16.3688406,13.0761073 17.113909,13.0421244 C17.8605334,13.0080581 18.0989141,13 20.0000139,13 Z M20.0000139,14.261259 C18.1309242,14.261259 17.9095211,14.2684002 17.1713993,14.3020774 C16.4889062,14.3331984 16.1182615,14.4472343 15.8716004,14.5430979 C15.5448584,14.6700824 15.3116737,14.8217692 15.0667353,15.0667353 C14.8217692,15.3116737 14.6700824,15.5448584 14.5430979,15.8716004 C14.4472343,16.1182615 14.3331984,16.4889062 14.3020774,17.1713993 C14.2684002,17.9095211 14.261259,18.1309242 14.261259,20.0000139 C14.261259,21.8690758 14.2684002,22.0904789 14.3020774,22.8286007 C14.3331984,23.5110938 14.4472343,23.8817385 14.5430979,24.1283996 C14.6700824,24.4551416 14.821797,24.6883263 15.0667353,24.9332647 C15.3116737,25.1782308 15.5448584,25.3299176 15.8716004,25.4569021 C16.1182615,25.5527657 16.4889062,25.6668016 17.1713993,25.6979226 C17.9094377,25.7315998 18.1307853,25.738741 20.0000139,25.738741 C21.8692147,25.738741 22.0905901,25.7315998 22.8286007,25.6979226 C23.5110938,25.6668016 23.8817385,25.5527657 24.1283996,25.4569021 C24.4551416,25.3299176 24.6883263,25.1782308 24.9332647,24.9332647 C25.1782308,24.6883263 25.3299176,24.4551416 25.4569021,24.1283996 C25.5527657,23.8817385 25.6668016,23.5110938 25.6979226,22.8286007 C25.7315998,22.0904789 25.738741,21.8690758 25.738741,20.0000139 C25.738741,18.1309242 25.7315998,17.9095211 25.6979226,17.1713993 C25.6668016,16.4889062 25.5527657,16.1182615 25.4569021,15.8716004 C25.3299176,15.5448584 25.1782308,15.3116737 24.9332647,15.0667353 C24.6883263,14.8217692 24.4551416,14.6700824 24.1283996,14.5430979 C23.8817385,14.4472343 23.5110938,14.3331984 22.8286007,14.3020774 C22.0904789,14.2684002 21.8690758,14.261259 20.0000139,14.261259 Z M20.0000139,16.4054077 C21.9852513,16.4054077 23.5945923,18.0147487 23.5945923,20.0000139 C23.5945923,21.9852513 21.9852513,23.5945923 20.0000139,23.5945923 C18.0147487,23.5945923 16.4054077,21.9852513 16.4054077,20.0000139 C16.4054077,18.0147487 18.0147487,16.4054077 20.0000139,16.4054077 Z M20.0000139,22.3333333 C21.2886704,22.3333333 22.3333333,21.2886704 22.3333333,20.0000139 C22.3333333,18.7113296 21.2886704,17.6666667 20.0000139,17.6666667 C18.7113296,17.6666667 17.6666667,18.7113296 17.6666667,20.0000139 C17.6666667,21.2886704 18.7113296,22.3333333 20.0000139,22.3333333 Z M24.5766244,16.2633906 C24.5766244,16.7273148 24.2005335,17.1033779 23.7366094,17.1033779 C23.272713,17.1033779 22.8966221,16.7273148 22.8966221,16.2633906 C22.8966221,15.7994665 23.272713,15.4233756 23.7366094,15.4233756 C24.2005335,15.4233756 24.5766244,15.7994665 24.5766244,16.2633906 Z")
    .footer__bottom-line.grid-x.align-justify.align-middle
        p &copy; 2017 Dimensions Paysage SA. All Rights Reserved. Credits
        a(href="#header").scroll-button.anchor
            svg(
                width="50px"
                height="50px"
                viewBox="0 0 50 50"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink")
                polyline(id="Path-3" transform="translate(25.250000, 25.497663) rotate(-90.000000) translate(-25.250000, -25.497663) " points="23 29.9953266 27.5 25.4953266 23.0046734 21")

