a(href='#' class='button') 
	span.button__text Read More
	span.button__arrows
		svg(
			class='button__arrow'
			width="5" height="8" 
			viewBox="0 0 5 8" 
			version="1.1" 
			xmlns="http://www.w3.org/2000/svg" 
			xmlns:xlink="http://www.w3.org/1999/xlink")
			path(id="path0_stroke" d="M -0.530807 5.47784C -0.823437 5.771 -0.823009 6.24587 -0.529852 6.5385C -0.236696 6.83113 0.238178 6.8307 0.530807 6.53754L -0.530807 5.47784ZM 3 3.00229L 3.53081 3.53214C 3.82306 3.23935 3.82306 2.76522 3.53081 2.47243L 3 3.00229ZM 0.533923 -0.529852C 0.241294 -0.823009 -0.23358 -0.823437 -0.526737 -0.530807C -0.819894 -0.238178 -0.820321 0.236696 -0.527692 0.529852L 0.533923 -0.529852ZM 0.530807 6.53754L 3.53081 3.53214L 2.46919 2.47243L -0.530807 5.47784L 0.530807 6.53754ZM 3.53081 2.47243L 0.533923 -0.529852L -0.527692 0.529852L 2.46919 3.53214L 3.53081 2.47243Z")
		svg(
			class='button__arrow'
			width="5" height="8" 
			viewBox="0 0 5 8" 
			version="1.1" 
			xmlns="http://www.w3.org/2000/svg" 
			xmlns:xlink="http://www.w3.org/1999/xlink")
			path(id="path0_stroke" d="M -0.530807 5.47784C -0.823437 5.771 -0.823009 6.24587 -0.529852 6.5385C -0.236696 6.83113 0.238178 6.8307 0.530807 6.53754L -0.530807 5.47784ZM 3 3.00229L 3.53081 3.53214C 3.82306 3.23935 3.82306 2.76522 3.53081 2.47243L 3 3.00229ZM 0.533923 -0.529852C 0.241294 -0.823009 -0.23358 -0.823437 -0.526737 -0.530807C -0.819894 -0.238178 -0.820321 0.236696 -0.527692 0.529852L 0.533923 -0.529852ZM 0.530807 6.53754L 3.53081 3.53214L 2.46919 2.47243L -0.530807 5.47784L 0.530807 6.53754ZM 3.53081 2.47243L 0.533923 -0.529852L -0.527692 0.529852L 2.46919 3.53214L 3.53081 2.47243Z")